USE [master]
GO
/****** Object:  Database [CSVUpload]    Script Date: 6/27/2015 7:38:40 PM ******/
CREATE DATABASE [CSVUpload]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSVUpload', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\CSVUpload.mdf' , SIZE = 18432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSVUpload_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\CSVUpload_log.ldf' , SIZE = 18240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSVUpload].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSVUpload]
GO
/****** Object:  Table [dbo].[TransactionData]    Script Date: 6/27/2015 7:38:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransactionData](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[CurrencyCode] [char](3) NOT NULL,
 CONSTRAINT [PK_TransactionData] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
